*{margin: 0;padding: 0;}
html,body,div,table,td,th,ul,li,p,a{ font-size: 0.7rem; color:#333333;font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;}
ul,li{list-style: none;}
em{font-style: normal;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-ma{margin:0 auto;}
.f-pr{position:relative;}
.f-pa{position:absolute;}

/*字体颜色*/
.s-green{color:#2fbaa5;}
.s-red{color:red;}

/* 标题1*/
.m-tit{line-height: 1.4rem;color:#33ba9f;font-size: 0.6rem;font-weight: normal;}
.m-link a{line-height: 1.4rem; color: #f8f8f8;font-size: 0.4rem;}
.m-link a:hover{ color: #f8f8f8;}
/*--------------------------------------------------------------*/
/* banner */
.m-video{width:100%;height:5.5rem;overflow:hidden;}
/*--------------------------------------------------------------*/
/* 考生图片 */
.m-img{width:100%;height:4.5rem;overflow: hidden;}
.m-lq-main{padding-bottom:0.5rem;background: #effefb;}
/*标题2*/
.m-lq-tite{width: 100%; font-size: 0.8rem;line-height: 1.52rem;background: #32bb9f;color:#fff;text-align: center;font-weight: normal;}
/*考生个人信息*/
.m-info,.m-notice{width: 93%;margin: 0 auto;overflow: hidden;}
.m-info li{margin-right:1.5rem;line-height: 1.8rem;}
.m-info li:last-child{margin-right: 0;}
.m-info li,.m-info li a{font-size: 0.6rem;}
.m-info li a{text-decoration: underline;color:#2fbaa5;cursor: default;}
/* 表格 */
.m-box-table{width: 93%;margin: 0 auto;background: #fff;border-top: 1px solid #cccccc;border-left: 1px solid #cccccc;}
.m-box-table td{width: 50%;padding:0 0.5rem;line-height: 1.5rem;border-bottom: 1px solid #cccccc;border-right: 1px solid #cccccc;}
.thetime{width: 93%;line-height:0.8rem;font-size: 0.5rem;margin:0.3rem auto 0;}
.m-box-table td:first-child{width:20%;}
/*说明*/
.m-notice{margin-top: 0.2rem;}
.m-notice p{font-size: 0.5rem;line-height: 0.8rem;color:#444444;}
/*-----------------------------------------------------------------*/
/*底部*/
.line{width: 100%;height: 1px;background-color: #dddddd;margin:0.5rem 0 0.3rem;}
.m-footer{width: 100%;text-align: center;font-size: 0.5rem;color:#444444;}
